.container {
    width: 200px;
    clear: both;
  }
  
.container input {
    width: 100%;
  }

table {
    border-collapse: collapse;
  }

table, th, td {
    border: 1px solid white;
  }

th, td {
    padding: 15px;
    text-align: left;
  }

body {
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
  }

label {
    text-align: left;
  }

input[type=text]:focus {
  border: 3px solid Violet;
}
